name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: macos-13
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_14.3.app/Contents/Developer
      
    - name: Build Release
      run: ./scripts/build_release.sh
      
    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      with:
        files: build/*.dmg
